html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.dark-background {
  background-color: #272727;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier Prime", monospace;
}
.navbar {
  background-color: transparent;
  position: absolute;
}

.navbar-toggler {
  width: 60px;
  height: 60px;
}
.navbar-toggler img {
  width: 100%;
}
.nav-link {
  color: #cfcfcf;
  text-shadow: black;
}
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url(../images/home-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-left: 5%;
}

.hero-content {
  /* border: 1px solid white; */
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.heading {
  font-size: 2.5rem;
}
.hero-heading {
  animation-duration: 2000ms;
  animation-delay: 1500ms;
}
.subdeck {
  font-size: 1rem;
}
.hero-subdeck {
  animation-duration: 2000ms;
  animation-delay: 4000ms;
}
.btn {
  width: 200px;
  padding: 10px 20px;
  animation-duration: 2000ms;
  animation-delay: 6000ms;
}

.btn-outline-primary {
  border-color: #fff;
}
.btn a {
  color: #fff;
  text-decoration: none;
}
.icons-container {
  /* border: 1px solid white; */
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  animation-duration: 2000ms;
  animation-delay: 7000ms;
}
.bi {
  color: #fff;
  font-size: 1.2rem;
}
.section-intro {
  align-items: center;
  padding: 5% 5%;
}
.intro-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-heading {
  font-weight: 800;
}
.section-leading-image {
  width: 162px;
  height: 244px;
  border-radius: 93px;
}
.carousel {
  margin-top: 2rem;
  width: 80px;
}
.section-text {
  width: 50%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.section-news-article {
  padding: 5% 5%;
  align-items: center;
  justify-content: space-evenly;
}
.news-article-image {
  width: 341px;
  height: 224px;
  border-radius: 15px;
}
.news-article-title {
  font-size: 1rem;
  font-weight: 800;
}
.news-article-text {
  color: #808080;
  width: 90%;
}
.section-newsrooms {
  padding: 5% 5%;
  align-items: center;
  justify-content: space-evenly;
}
.heading-newsrooms {
  margin-bottom: 2rem;
}
.newsrooms-grid {
  width: 70%;
  display: flex;
  justify-content: center;
}
.newsrooms-grid-item {
  display: flex;
  justify-content: center;
}
.newsroom {
  margin-left: 10px;
  color: #808080;
}
.section-quote {
  padding: 5% 5%;
  align-items: center;
  justify-content: space-evenly;
}
.quote-mark {
  opacity: 0.2;
  width: 90%;
}
.quote-section-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.quote-attribution {
  width: 60%;
  text-align: center;
}
.quote-section-heading,
.quote-attribution {
  transform: translateY(-130px);
}
.section-social-cta {
  padding: 5% 5%;
  align-items: center;
  justify-content: space-evenly;
}
.social-cta-icons-container {
  display: flex;
  flex-direction: column;
}
.social-cta-icon {
  font-size: 5rem;
  color: #272727;
}
.btn-outline-secondary a {
  color: #272727;
}
.footer {
  width: 100vw;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text {
  color: #cfcfcf;
}
.footer-text span {
  color: #0aa0e6;
  font-weight: 600;
}

@media all and (min-width: 768px) {
  .section {
    height: 100vh;
  }
  .collapse {
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 20px;
  }
  .nav-link {
    margin-right: 20px;
  }
  .hero {
    padding-left: 10%;
  }
  .section-intro {
    justify-content: space-evenly;
  }
  .news-article-image {
    width: 500px;
    height: auto;
  }
  .newsrooms-grid-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  /* .arrow-forward {
    justify-self: center;
  } */
  .newsroom {
    justify-self: center;
    margin-left: 0;
  }
  .quote-mark {
    width: 60%;
  }
  .quote-section-heading {
    font-size: 3rem;
    text-align: center;
  }
  .quote-attribution {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .quote-section-heading,
  .quote-attribution {
    transform: translateY(-160px);
  }
}

@media all and (min-width: 992px) {
  .section {
    height: 90vh;
  }
  .news-article-text {
    width: 70%;
  }
  .quote-section-heading,
  .quote-attribution {
    transform: translateY(-200px);
  }
}

@media all and (min-width: 1200px) {
  .quote-section-heading,
  .quote-attribution {
    transform: translateY(-300px);
  }
}

@media all and (min-width: 1400px) {
  .quote-mark {
    width: 30%;
  }
}
